services:

  compose-dashboard:
    container_name: compose-dashboard
    environment:
      ASPIRE_DASHBOARD_FORWARDEDHEADERS_ENABLED: "true"
    ports:
      - "17087:18888"
    expose:
      - "18889"
      - "18890"
    networks:
      - "aspire"
    restart: "always"

  keycloak:
    container_name: keycloak
    command:
    - "start"
    - "import-realm"
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: "admin"
      KC_BOOTSTRAP_ADMIN_PASSWORD: "password"
      KC_HEALTH_ENABLED: "true"
      KC_DB_USERNAME: "sa"
      KC_DB_PASSWORD: "password"
    expose:
      - "8080"
      - "9000"
    volumes:
    - type: "volume"
      target: "/opt/keycloak/data"
      source: "keycloak_data"
      read_only: false
    networks:
      - "aspire"
      
  ollama:
    container_name: ollama
    expose:
      - "11434"
    volumes:
      - type: "volume"
        target: "/root/.ollama"
        source: "ollama_data"
        read_only: false
    networks:
      - "aspire"

  rabbitmq:
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: always

  leagueDb:  
    container_name: leagueDb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=LeagueDb
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_league:/var/lib/postgresql/data/

  seasonDb:  
    container_name: seasonDb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=SeasonDb
    restart: always
    ports:
      - "5433:5432"
    volumes:
      - postgres_season:/var/lib/postgresql/data/

  teamDb:
    container_name: teamDb
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=topSecret#Swn12345678
    restart: always
    ports:
      - "1433:1433"

  playerDb:
    container_name: playerDb
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=topSecret#Swn12345678
    restart: always
    ports:
      - "1434:1433"

  statsDb:
    container_name: statsDb
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=topSecret#Swn12345678
    restart: always
    ports:
      - "1435:1433"

  standingsDb:
    container_name: standingsDb
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=topSecret#Swn12345678
    restart: always
    ports:
      - "1436:1433"

  gameDb:
    container_name: gameDb
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=topSecret#Swn12345678
    restart: always
    ports:
      - "1437:1433"

  league_api:
    container_name: league_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "Host=postgres;Port=5432;Username=postgres;Password=postgres;Database=leagueDb" 
    depends_on:
      - leagueDb
      - rabbitmq
      - keycloak
    restart: always
    ports:
      - "6000:8080"
  
  team_api:
    container_name: team_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings__teamDb=Server=teamDb;User ID=sa;Password=topSecret#Swn12345678;TrustServerCertificate=true;Initial Catalog=teamDb" 
    depends_on:
      - teamDb
      - rabbitmq
      - keycloak
    restart: always
    ports:
      - "6001:8080"
 
  player_api:
    container_name: player_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings__playerDb=Server=playerDb;User ID=sa;Password=topSecret#Swn12345678;TrustServerCertificate=true;Initial Catalog=playerDb" 
    depends_on:
      - playerDb
      - rabbitmq
      - keycloak
    restart: always
    ports:
      - "6002:8080"

  league_builder_apigateway:
    container_name: league_builder_apigateway
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - league_api
      - team_api
      - player_api
      - stats_api
      - standings_api
      - season_api
      - game_api 
      - keycloak
    ports:
      - "6003:8080"
    restart: always

  season_api:
    container_name: season_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "Host=postgres;Port=5432;Username=postgres;Password=postgres;Database=seasonDb" 
    depends_on:
      - seasonDb
      - rabbitmq
      - keycloak
    restart: always
    ports:
      - "6004:8080"
   
  standings_api:
    container_name: standings_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings__standingsDb=Server=standingsDb;User ID=sa;Password=topSecret#Swn12345678;TrustServerCertificate=true;Initial Catalog=standingsDb" 
    depends_on:
      - standingsDb
      - rabbitmq
      - keycloak
    restart: always
    ports:
      - "6005:8080"
  
  game_api:
    container_name: game_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings__gameDb=Server=gameDb;User ID=sa;Password=topSecret#Swn12345678;TrustServerCertificate=true;Initial Catalog=gameDb" 
    depends_on:
      - gameDb
      - rabbitmq
      - keycloak
    restart: always
    ports:
      - "6006:8080"
  
  stats_api:
    container_name: stats_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings__statsDb=Server=statsDb;User ID=sa;Password=topSecret#Swn12345678;TrustServerCertificate=true;Initial Catalog=statsDb" 
    depends_on:
      - gameDb
      - rabbitmq
      - keycloak
    restart: always
    ports:
      - "6007:8080"

  league_builder_web_server:
    container_name: league_builder_web_server
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - league_builder_apigateway
      - keycloak
      - ollama 
    ports:
      - "6008:8080"
    restart: always