services:
  
  compose-dashboard:
    image: "mcr.microsoft.com/dotnet/nightly/aspire-dashboard:latest"

  keycloak:
    image: quay.io/keycloak/keycloak:26.4

  ollama:
    image: "ollama/ollama:0.13.0"

  leagueDb:
    image: postgres:17.6

  seasonDb:
    image: postgres:17.6

  teamDb:
    image: mcr.microsoft.com/mssql/server:2022-latest

  playerDb:
    image: mcr.microsoft.com/mssql/server:2022-latest

  standingsDb:
    image: mcr.microsoft.com/mssql/server:2022-latest

  statsDb:
    image: mcr.microsoft.com/mssql/server:2022-latest

  gameDb:
    image: mcr.microsoft.com/mssql/server:2022-latest

  rabbitmq:
    image: rabbitmq:4.2-management

  league_api:
     image: ${DOCKER_REGISTRY-}league_api
     build:
       context: .
       dockerfile: Services/League/League.API/Dockerfile

  team_api:
     image: ${DOCKER_REGISTRY-}team_api
     build:
       context: .
       dockerfile: Services/Team/Team.API/Dockerfile

  player_api:
     image: ${DOCKER_REGISTRY-}player_api
     build:
       context: .
       dockerfile: Services/Player/Player.API/Dockerfile

  season_api:
     image: ${DOCKER_REGISTRY-}season_api
     build:
       context: .
       dockerfile: Services/Season/Season.API/Dockerfile

  stats_api:
     image: ${DOCKER_REGISTRY-}stats_api
     build:
       context: .
       dockerfile: Services/Stats/Stats.API/Dockerfile

  standings_api:
     image: ${DOCKER_REGISTRY-}standings_api
     build:
       context: .
       dockerfile: Services/Standings/Standings.API/Dockerfile

  game_api:
     image: ${DOCKER_REGISTRY-}game_api
     build:
       context: .
       dockerfile: Services/Game/Game.API/Dockerfile
  
  league_builder_apigateway:
     image: ${DOCKER_REGISTRY-}league_builder_apigateway
     build:
       context: .
       dockerfile: ApiGateways/League.Builder.ApiGateway/Dockerfile

  league_builder_web_server:
     image: ${DOCKER_REGISTRY-}league_builder_web_server
     build:
       context: .
       dockerfile: WebApps/League.Builder.Web.Server/Dockerfile

volumes:
  postgres_league:
  postgres_season:
  rabbitmq_data:
  keycloak_data:
  ollama_data:

networks:
  aspire:
   driver: bridge